.taskheader__container{
    display: grid;
    place-items: center;
    background: $linear-gradient;
    padding: 1.4rem;
    border-radius: 1.6rem;
    box-shadow: 0 0 7px aqua;

    h1{
        font-size: 3rem;
        color: white;
    }
}