.task__form{
    flex: 1;
    min-width: 37rem;
    background: $linear-gradient;
    display: flex;
    row-gap: 1.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.9rem;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 16px #46fcff;
    padding: 1.9rem;
    position: sticky;
    top: 0  ;
    left: 0;

    @media only screen and (max-width:833px){
        position: static;
        flex: none;
    }

    &.update{
        box-shadow: 0 0 43px rgb(40 242 192);


        .form__button{
            box-shadow: 0 0 24px rgb(84, 241, 84);
        }
    }



    .task__form--item {
        width: min(95%, 35rem);
        padding: 1.3rem 2.8rem;
        border-radius: 0.7rem;
        backdrop-filter: drop-shadow(2px 4px 6px black);
        box-shadow: 0 0 4px aqua;
        display: flex;
        flex-direction: column;
        
        gap: 1rem;

        label{
            color: white;
            background: $linear-gradient;
            padding: 0.3rem 1.2rem;
            align-self: flex-start;
            border-radius: 1.3rem;
            box-shadow: 0 0 4px aqua;
            cursor: pointer;
            transform: scale(1);
            transition: transform .2s ease-out;

            &:hover{
                transform: scale(1.1);
            }
        }

        
        input, textarea, select, button{
            border: none;
            outline: none;
            resize: none;
            background: transparent;
            font-size: 1.8rem;
            color: white;

            option{
                color: black;
                margin: 0.7rem;
                width: 100%;
                background: transparent;
            }

        }

        
        input::placeholder, textarea::placeholder, select::placeholder, button{
            color: white;
            
        }
    }
    .form__button{
        border-radius: 5rem;
        padding: 0.6rem;
        margin-top: 1.4rem;
        transition: box-shadow .3s ease-in-out;

        &:hover{
            box-shadow: 0 0 10px aqua;
        }
    }

    .form__button , .form__button > *{
        cursor: pointer;
    }
}