.nav__logo{
    position: fixed;
    top: 1.4rem;
    left: 1.4rem;
    background: $linear-gradient;
    border: none;
    filter: drop-shadow(2px 4px 6px black);
    padding: 0.7rem;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    z-index: 100;

    &:hover{
        transform: scale(1.1);
    }
    
    h3{
        font-size: 1.8rem;
        color: white;
    }
}
